/* Global layout styles */

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  max-width: 1200px;
  margin: 0 auto !important;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 1.2em 0 0;
  text-align: center;
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
  color: #447;
}

.lead {
  font-size: 1.2em;
  margin: 1.2em 0;
  text-align: center;
}

/* Table styles */

table {
  width: 100%;
  border: 1px solid #aaa;
  border-collapse: collapse;
}

th {
   background: #ddf;
   border-bottom: 1px solid #aaa;
   text-align: left;
}

th, td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #eee;
}

/* Pagination styles */

#pagination {
  margin: 20px 0;
  text-align: center;
  cursor: default;
}

.pag-button {
  display: inline-block;
  border: 1px solid #77b;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  background: #ddf;
}

.pag-button:hover {
  background: #bbd;
  cursor: pointer;
}

.pag-button.disabled,
.pag-button.disabled:hover{
  color: #999;
  background: #ddf;
  cursor: default;
}

.pag-button.active {
  background: #bbd;
  cursor: default;
}

#top-interval,
#bottom-interval {
  margin: 0 0 10px;
  font-size: 0.8em;
  text-align: center;
}